## 반복문을 동일한 mpg 값이 아닌 변경하여 배운 반복문 코드를 응용하여 최소 5개 이상 코드 작성하기

In [1]:
import pandas as pd

In [2]:
mpg = pd.read_csv('mpg.csv')

In [3]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [5]:
#1 iterrows를 이용하여 displ 정보 추출하기
for idx, row in mpg.iterrows():
    print(idx, row['model'])

0 a4
1 a4
2 a4
3 a4
4 a4
5 a4
6 a4
7 a4 quattro
8 a4 quattro
9 a4 quattro
10 a4 quattro
11 a4 quattro
12 a4 quattro
13 a4 quattro
14 a4 quattro
15 a6 quattro
16 a6 quattro
17 a6 quattro
18 c1500 suburban 2wd
19 c1500 suburban 2wd
20 c1500 suburban 2wd
21 c1500 suburban 2wd
22 c1500 suburban 2wd
23 corvette
24 corvette
25 corvette
26 corvette
27 corvette
28 k1500 tahoe 4wd
29 k1500 tahoe 4wd
30 k1500 tahoe 4wd
31 k1500 tahoe 4wd
32 malibu
33 malibu
34 malibu
35 malibu
36 malibu
37 caravan 2wd
38 caravan 2wd
39 caravan 2wd
40 caravan 2wd
41 caravan 2wd
42 caravan 2wd
43 caravan 2wd
44 caravan 2wd
45 caravan 2wd
46 caravan 2wd
47 caravan 2wd
48 dakota pickup 4wd
49 dakota pickup 4wd
50 dakota pickup 4wd
51 dakota pickup 4wd
52 dakota pickup 4wd
53 dakota pickup 4wd
54 dakota pickup 4wd
55 dakota pickup 4wd
56 dakota pickup 4wd
57 durango 4wd
58 durango 4wd
59 durango 4wd
60 durango 4wd
61 durango 4wd
62 durango 4wd
63 durango 4wd
64 ram 1500 pickup 4wd
65 ram 1500 pickup 4wd
66 ram 1500 pickup 4wd
67 ram 1500 pickup 4wd
68 ram 1500 pickup 4wd
69 ram 1500 pickup 4wd
70 ram 1500 pickup 4wd
71 ram 1500 pickup 4wd
72 ram 1500 pickup 4wd
73 ram 1500 pickup 4wd
74 expedition 2wd
75 expedition 2wd
76 expedition 2wd
77 explorer 4wd
78 explorer 4wd
79 explorer 4wd
80 explorer 4wd
81 explorer 4wd
82 explorer 4wd
83 f150 pickup 4wd
84 f150 pickup 4wd
85 f150 pickup 4wd
86 f150 pickup 4wd
87 f150 pickup 4wd
88 f150 pickup 4wd
89 f150 pickup 4wd
90 mustang
91 mustang
92 mustang
93 mustang
94 mustang
95 mustang
96 mustang
97 mustang
98 mustang
99 civic
100 civic
101 civic
102 civic
103 civic
104 civic
105 civic
106 civic
107 civic
108 sonata
109 sonata
110 sonata
111 sonata
112 sonata
113 sonata
114 sonata
115 tiburon
116 tiburon
117 tiburon
118 tiburon
119 tiburon
120 tiburon
121 tiburon
122 grand cherokee 4wd
123 grand cherokee 4wd
124 grand cherokee 4wd
125 grand cherokee 4wd
126 grand cherokee 4wd
127 grand cherokee 4wd
128 grand cherokee 4wd
129 grand cherokee 4wd
130 range rover
131 range rover
132 range rover
133 range rover
134 navigator 2wd
135 navigator 2wd
136 navigator 2wd
137 mountaineer 4wd
138 mountaineer 4wd
139 mountaineer 4wd
140 mountaineer 4wd
141 altima
142 altima
143 altima
144 altima
145 altima
146 altima
147 maxima
148 maxima
149 maxima
150 pathfinder 4wd
151 pathfinder 4wd
152 pathfinder 4wd
153 pathfinder 4wd
154 grand prix
155 grand prix
156 grand prix
157 grand prix
158 grand prix
159 forester awd
160 forester awd
161 forester awd
162 forester awd
163 forester awd
164 forester awd
165 impreza awd
166 impreza awd
167 impreza awd
168 impreza awd
169 impreza awd
170 impreza awd
171 impreza awd
172 impreza awd
173 4runner 4wd
174 4runner 4wd
175 4runner 4wd
176 4runner 4wd
177 4runner 4wd
178 4runner 4wd
179 camry
180 camry
181 camry
182 camry
183 camry
184 camry
185 camry
186 camry solara
187 camry solara
188 camry solara
189 camry solara
190 camry solara
191 camry solara
192 camry solara
193 corolla
194 corolla
195 corolla
196 corolla
197 corolla
198 land cruiser wagon 4wd
199 land cruiser wagon 4wd
200 toyota tacoma 4wd
201 toyota tacoma 4wd
202 toyota tacoma 4wd
203 toyota tacoma 4wd
204 toyota tacoma 4wd
205 toyota tacoma 4wd
206 toyota tacoma 4wd
207 gti
208 gti
209 gti
210 gti
211 gti
212 jetta
213 jetta
214 jetta
215 jetta
216 jetta
217 jetta
218 jetta
219 jetta
220 jetta
221 new beetle
222 new beetle
223 new beetle
224 new beetle
225 new beetle
226 new beetle
227 passat
228 passat
229 passat
230 passat
231 passat
232 passat
233 passat

In [14]:
#2 itertuples를 이용하여 year 정보 추출하기
for row in mpg.itertuples():
    print(row.year)

1999
1999
2008
2008
1999
1999
2008
1999
1999
2008
2008
1999
1999
2008
2008
1999
2008
2008
2008
2008
2008
1999
2008
1999
1999
2008
2008
2008
2008
2008
1999
1999
1999
2008
1999
2008
2008
1999
1999
1999
1999
2008
2008
2008
1999
1999
2008
2008
2008
2008
1999
1999
2008
2008
2008
1999
1999
1999
2008
2008
2008
1999
2008
1999
2008
2008
2008
2008
2008
2008
1999
1999
2008
1999
1999
1999
2008
1999
1999
1999
2008
2008
1999
1999
1999
1999
1999
2008
1999
2008
1999
1999
2008
2008
1999
1999
2008
2008
2008
1999
1999
1999
1999
1999
2008
2008
2008
2008
1999
1999
2008
2008
1999
1999
2008
1999
1999
2008
2008
2008
2008
2008
2008
2008
1999
1999
2008
2008
2008
2008
1999
2008
2008
1999
1999
1999
2008
1999
2008
2008
1999
1999
1999
2008
2008
2008
2008
1999
1999
2008
1999
1999
2008
2008
1999
1999
1999
2008
2008
1999
1999
2008
2008
2008
2008
1999
1999
1999
1999
2008
2008
2008
2008
1999
1999
1999
1999
2008
2008
1999
1999
2008
2008
1999
1999
2008
1999
1999
2008
2008
1999
1999
2008
1999
1999
1999
2008
2008
1999
2008
1999
1999
2008
1999
1999
2008
2008
1999
1999
2008
2008
1999
1999
1999
1999
2008
2008
2008
2008
1999
1999
1999
1999
1999
1999
2008
2008
1999
1999
2008
2008
1999
1999
2008

In [20]:
#3 model, year 데이터. model이 a4이고, year가 2008인 데이터 추출
for i, j in zip(mpg.model, mpg.year):
	if i == 'a4' and j== '2008' : 
		print( i , j )

In [16]:
#4 trans 변수 15인 데이터 추출 후 연도별로 보기
def get_trans_spe(series): 
	tr_cnt = len([ _ for x in series if x[0] in 'l5'])   
	return tr_cnt   

mpg.groupby('year').agg({'trans': get_trans_spe}).reset_index()

   year  trans
0  1999      0
1  2008      0

In [22]:
#5 manufacturer가 volkswagen, year가 2008인 데이터만 추출
manu = ['volkswagen']
year = [2008]

for i , j in zip(mpg.manufacturer, mpg.year):
	if i in manu and j in year : 
		print(i, j)

volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008